*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
  }
  
  .puzzle{
    border:0px #9e8ce3 solid;
    border-radius:50px;
    width:fit-content;
    height:auto;
    overflow: hidden;
  }
  .row{
    display:flex;
    flex-direction:inline;
    border:solid 1px rgb(255, 255, 255);
    width:100px;
    height:100px;
  }
  
  .col {
    display:flex;
    flex-direction:row;
    border: red;
  
   
  }
  
  [data-color=green]{
    background-color:green;
    
  }
  
  [data-color=blue]{
    background-color:blue;
  }
  [data-color=yellow]{
    background-color:yellow;
  }
  
  .puzzle div:not(.col){
  /*   background-color:purple */
  }